<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESP32 Data Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.0/nouislider.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.0/nouislider.min.js"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f9f9f9;
        }
        canvas {
            max-width: 100%;
            height: auto;
        }
        h1 {
            text-align: center;
            color: #333;
        }
        .card-title {
            font-size: 18px;
        }
        .data-item {
            padding: 5px 10px;
            border-bottom: 1px solid #ddd;
        }
        .data-item.temperature {
            background-color: #ffe5e5;
        }
        .data-item.pressure {
            background-color: #e5f3ff;
        }
        .data-item.light {
            background-color: #e5ffe5;
        }
        #temperatureSlider, #lightSlider {
            width: 30%;
            height: 10px;
            margin: 20px 0;
        }

        .noUi-connect {
            background: #007bff; 
        }

        .sliders {
            display: flex;
            position: fixed;
            bottom: 20px;
        }

    </style>
</head>
<body>

    <div class="container mt-4">
        <h1 class="text-center text-primary">ESP32 Environment Monitor</h1>

        <div class="row text-center my-4">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Temperature</h5>
                        <p id="temperature-status" class="card-text display-6">-</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Pressure</h5>
                        <p id="pressure-status" class="card-text display-6">-</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Light</h5>
                        <p id="light-status" class="card-text display-6">-</p>
                    </div>
                </div>
            </div>
   
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">BLE Temperature</h5>
                        <p id="ble-temperature-status" class="card-text display-6">-</p>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">BLE Humidity</h5>
                        <p id="ble-humidity-status" class="card-text display-6">-</p>
                    </div>
                </div>
            </div>
        </div>

      
        <div class="row mt-4">
            <div class="col text-center">
                <canvas id="temperatureChart"></canvas>
            </div>
            <div class="col text-center">
                <canvas id="pressureChart"></canvas>
            </div>
            <div class="col text-center">
                <canvas id="lightChart"></canvas>
            </div>
            <div class="col text-center">
                <canvas id="bleTemperatureChart"></canvas>
            </div>
            <div class="col text-center">
                <canvas id="bleHumidityChart"></canvas>
            </div>
        </div>

        <div class="text-end my-3">
            <button id="toggle-log-button" class="btn btn-primary mt-2" onclick="toggleLogs()">
                <i class="fas fa-list"></i> Show Logs
            </button>
        </div>

        <div id="log-section" class="card" style="display: none;">
            <div class="card-header">
                Data Log
            </div>
            <div class="card-body" id="data-container" style="max-height: 250px; overflow-y: auto;">
            </div>
            <div class="card-footer text-end">
                <button class="btn btn-danger" onclick="clearLogs()">Clear Logs</button>
            </div>
        </div>
    </div>
    <div class="sliders">
        <div class="mb-4">
            <p>Set Temperature Range (°C)</p>
            <div id="temperatureSlider" style="margin: 20px 0; margin-right: 30px; width:200px"></div>
            <div>
                <label>Min:</label>
                <span id="minTempValue">10</span>°C
                <label>Max:</label>
                <span id="maxTempValue">30</span>°C
            </div>
            <button id="setTemperatureRange" class="btn btn-primary mt-2">Set</button>
        </div>
        
        
        <div class="mb-4">
            <p>Set Light Range</p>
            <div id="lightSlider" style="margin: 20px 0; width: 200px"></div>
            <div>
                <label>Min:</label>
                <span id="minLightValue">100</span> lux
                <label>Max:</label>
                <span id="maxLightValue">800</span> lux
            </div>
            <button id="setLightRange" class="btn btn-primary mt-2">Set</button>
        </div>
    </div>
    
    
    
    <script>
        const socket = io();
        const temperatureStatus = document.getElementById('temperature-status');
        const pressureStatus = document.getElementById('pressure-status');
        const lightStatus = document.getElementById('light-status');
        const bleTemperatureStatus = document.getElementById('ble-temperature-status');
        const bleHumidityStatus = document.getElementById('ble-humidity-status');

        const dataContainer = document.getElementById('data-container');

        const temperatureSlider = document.getElementById('temperatureSlider');
        const lightSlider = document.getElementById('lightSlider');

        // Inicjalizacja wykresów
        const temperatureChart = new Chart(document.getElementById('temperatureChart').getContext('2d'), {
            type: 'line',
            data: { labels: [], datasets: [{ label: 'Temperature (°C)', data: [], borderColor: 'red', tension: 0.1 }] }
        });
        const pressureChart = new Chart(document.getElementById('pressureChart').getContext('2d'), {
            type: 'line',
            data: { labels: [], datasets: [{ label: 'Pressure (hPa)', data: [], borderColor: 'blue', tension: 0.1 }] }
        });
        const lightChart = new Chart(document.getElementById('lightChart').getContext('2d'), {
            type: 'line',
            data: { labels: [], datasets: [{ label: 'Light (lux)', data: [], borderColor: 'green', tension: 0.1 }] }
        });
        const bleTemperatureChart = new Chart(document.getElementById('bleTemperatureChart').getContext('2d'), {
            type: 'line',
            data: { labels: [], datasets: [{ label: 'BLE Temperature (°C)', data: [], borderColor: 'orange', tension: 0.1 }] }
        });
        const bleHumidityChart = new Chart(document.getElementById('bleHumidityChart').getContext('2d'), {
            type: 'line',
            data: { labels: [], datasets: [{ label: 'BLE Humidity (%)', data: [], borderColor: 'purple', tension: 0.1 }] }
        });

        function updateChart(chart, label, data) {
            if (chart.data.labels.length > 50) {
                chart.data.labels.shift();
                chart.data.datasets[0].data.shift();
            }
            chart.data.labels.push(label);
            chart.data.datasets[0].data.push(data);
            chart.update();
        }

        socket.on('mqtt_message', function (message) {
            const topic = message.topic;
            const data = message.data;
            const timestamp = new Date().toLocaleTimeString();

            if (topic.includes('bmp280/temperature')) {
                temperatureStatus.textContent = `${data.temperature} °C`;
                updateChart(temperatureChart, timestamp, data.temperature);
            } else if (topic.includes('bmp280/pressure')) {
                pressureStatus.textContent = `${data.pressure} hPa`;
                updateChart(pressureChart, timestamp, data.pressure);
            } else if (topic.includes('light')) {
                lightStatus.textContent = `${data.light} lux`;
                updateChart(lightChart, timestamp, data.light);
            }
            if (topic.includes('ble/temperature')) {
                bleTemperatureStatus.textContent = `${data.temperature} °C`;
                updateChart(bleTemperatureChart, timestamp, data.temperature);
            } else if (topic.includes('ble/humidity')) {
                bleHumidityStatus.textContent = `${data.humidity} %`;
                updateChart(bleHumidityChart, timestamp, data.humidity);
            }

            const element = document.createElement('div');
            element.classList.add('data-item');
            element.textContent = `Topic: ${topic}, Data: ${JSON.stringify(data)}`;
            dataContainer.appendChild(element);
        });

        function clearLogs() {
            dataContainer.innerHTML = '';
        }

        function toggleLogs() {
            const logSection = document.getElementById('log-section');
            const toggleButton = document.getElementById('toggle-log-button');

            if (logSection.style.display === 'none') {
                logSection.style.display = 'block';
                toggleButton.innerHTML = '<i class="fas fa-list"></i> Hide Logs';
            } else {
                logSection.style.display = 'none';
                toggleButton.innerHTML = '<i class="fas fa-list"></i> Show Logs';
            }
        }


        noUiSlider.create(temperatureSlider, {
            start: [10, 30],
            connect: true,  
            range: {
                'min': 0,
                'max': 50
            },
            step: 0.1,  
            tooltips: [false, false] 
        });

        const minTempValue = document.getElementById('minTempValue');
        const maxTempValue = document.getElementById('maxTempValue');

        temperatureSlider.noUiSlider.on('update', function (values) {
            minTempValue.textContent = parseFloat(values[0]).toFixed(1);
            maxTempValue.textContent = parseFloat(values[1]).toFixed(1);
        });

        document.getElementById('setTemperatureRange').addEventListener('click', function () {
            const [minTemperature, maxTemperature] = temperatureSlider.noUiSlider.get();

            fetch('/set_temp_range', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    min_temperature: parseFloat(minTemperature),
                    max_temperature: parseFloat(maxTemperature)
                })
            }).then(response => response.json()).then(data => console.log(data));
        });
        noUiSlider.create(lightSlider, {
            start: [100, 800], 
            connect: true,
            range: {
                'min': 0,
                'max': 1000
            },
            step: 1, 
            tooltips: [false, false]
        });

        // Aktualizacja wyświetlanych wartości
        const minLightValue = document.getElementById('minLightValue');
        const maxLightValue = document.getElementById('maxLightValue');

        lightSlider.noUiSlider.on('update', function (values) {
            minLightValue.textContent = parseInt(values[0]);
            maxLightValue.textContent = parseInt(values[1]);
        });

        // Obsługa wysyłania danych do backendu
        document.getElementById('setLightRange').addEventListener('click', function () {
            const [minLight, maxLight] = lightSlider.noUiSlider.get();

            fetch('/set_light_range', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    min_light: parseInt(minLight),
                    max_light: parseInt(maxLight)
                })
            }).then(response => response.json()).then(data => console.log(data));
        });

    </script>
</body>
</html>
